<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% include ['includes/_head.html','includes/_metas.html' ] %}
    {% endblock %}

</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
<div>{% block content %}{% endblock %}</div>
{#{% for item in items %}#}
{#    <li>{% block loop_item scoped %}#}
{#        {{ item }}#}
{#    {% endblock %}</li>#}
{#{% endfor %}#}


<footer>
    {% block footer %}
        Sample  2018 by <a href="https://github.com/tazbingor">tazdingobean(tazbingor)</a>
    {% endblock %}
</footer>

</body>
</html>