<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='site.css') }}">#}
</head>
<body>
{#{{ title|safe }}#}
{#{{ body|md|safe }}#}
{#{{ read_md('http_methods.md')|md|safe }}#}

{#jinja2语法#}

{% set links=[
   ('Home',url_for('.index')),
   ('About',url_for('.about')),
   ('Services',url_for('.services')),
   ('Projects',url_for('.projects')),
] %}


<nav>
    {% for label , href in links %}
        {% if not loop.first %}|{% endif %}
        <a href="{% if href is current_link %}# {% else %}{{ href }}{% endif %}">{{ label }}</a>
    {% endfor %}


</nav>

</body>
</html>